header {
  text-align: center;
  margin-top: 25px;

  h1 {
    font-size: 40px;
    font-weight: 500;
  }

  p {
    font-size: 20px;
  }
}

.block {
  margin: 100px auto;

  h2 {
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 400;
  }

  ul {
    list-style: square;
    margin-left: 17px;
  }
}

.description {
  .image_block {
    text-align: center;

    img {
      width: 250px;
      height: 250px;
      margin-bottom: 15px;
    }
  }

  .text_block {
    margin-top: 30px;
    text-align: left;

    h2 {
      font-size: 26px;
      font-weight: 400;
      margin: 15px 0 5px;
    }
  }
}

.structure {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("../../images/icons.png");
  background-position: 0 -129px;
  position: relative;
  top: 3px;
  left: 3px;
}

#existed_tasks {
  max-width: 800px;
  margin: 0 auto;

  h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 15px;
    font-weight: 400;
  }

  table {
    thead {
      tr {
        th {
          font-weight: 400;
        }
      }
    }

    tbody {
      tr {
        td {
          .button {
            margin: 0;
          }
        }
      }
    }
  }
}

#new_file_block {
  max-width: 800px;

  h2 {
    text-align: center;
    font-size: 30px;
  }

  .task_form_fields {
    text-align: center;

    .cell {
      padding: 0 5px;

      p {
        text-align: left;
        color: #2f3340;
        font-size: 14px;
      }
    }

    select,
    button,
    .file_uploader {
      width: 100%;
      height: 38px;
      color: #000;
      font-weight: 400;
      font-family: "Roboto", sans-serif;
      font-size: 16px;
      text-align: left;
      padding: 0 0 0 10px;
      border: none;
      border-bottom: 1px solid #888;
    }

    select {
      background: #eee url("../../images/arrow.png") no-repeat;
      background-size: 7px 5px;
      background-position: 95% 55%;
      text-align-last: left;

      &:hover {
        cursor: pointer;
        background: #ddd url("../../images/arrow.png") no-repeat;
        background-size: 7px 5px;
        background-position: 95% 55%;
      }

      @media (max-width: 640px) {
        background-position: 95% 55%;

        &:hover {
          background-position: 95% 55%;
        }
      }
    }

    .file_uploader {
      position: relative;
      overflow: hidden;
      margin-bottom: 1rem;

      label {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        padding: 0 0 0 10px;
        width: 100%;
        height: 100%;
        background: #eee;

        span {
          color: #000;
          font-weight: 400;
          line-height: 38px;
        }

        &:hover {
          cursor: pointer;
          background: #ddd;
        }
      }

      input[type="file"] {
        display: none;
      }
    }
  }
}
