= link_to image_tag('social-facebook.jpg', class: 'social', alt: "#{t('login_through')} Facebook"), localized_omniauth_path(:facebook), title: "#{t('login_through')} Facebook"
= link_to image_tag('social-github.png', class: 'social', alt: "#{t('login_through')} Github"), localized_omniauth_path(:github), title: "#{t('login_through')} Github"