.formats {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;

  .framework {
    width: 18%;
    margin-right: 2.5%;
    margin-bottom: 25px;
    background: #eee;

    &:nth-of-type(5n) {
      margin-right: 0;
    }

    &:hover {
      background: #ddd;
    }

    a {
      display: block;
      border: 1px solid #aaa;
      border-radius: 4px;
      padding: 10px;

      p {
        color: #2f3340;
      }
    }
  }
}

.format {
  margin: 25px 0;

  p {
    margin-bottom: 10px;
  }

  .italic {
    font-style: italic;
    font-weight: 400;
  }

  pre {
    padding: 5px 10px;
    display: block;
    background: #eee;
    color: #000;
    margin: 0 0 25px;
  }

  ul {
    list-style: square;
    margin-left: 0;

    li {
      margin-left: 17px;
    }
  }
}
