@import "normalize.css/normalize.css";
@import "foundation-sites/dist/css/foundation.css";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600&subset=cyrillic");

* {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;

  &:focus {
    outline: none;
  }
}

html,
body {
  padding: 0;
  margin: 0;
}

html {
  overflow-y: scroll;

  &::-webkit-scrollbar {
    background: #333;
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    -webkit-border-radius: 6px;
    border-radius: 6px;
  }

  &::-webkit-scrollbar-thumb {
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background: rgba(217, 217, 217, 0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
}

body {
  background: #fff;
  background-repeat: no-repeat;
  background-position: top center;
  color: #555;
  position: relative;

  .reveal-overlay {
    overflow-y: hidden;
  }
}

h1,
h2,
h3,
h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #333;
}

p {
  margin-bottom: 0;
}

.button {
  background: #50d691;
  border-radius: 4px;

  &:hover,
  &:focus {
    background: #30b671;
  }
}

.flag {
  display: inline-block;
  width: 25px;
  height: 17px;
  background: url(../images/flags.png);

  &.flag_ru {
    background-position: 0 0;
  }

  &.flag_en {
    background-position: 0 -16px;
  }

  &.flag_de {
    background-position: 0 -32px;
  }

  &.flag_da {
    background-position: 0 -48px;
  }

  &.flag_pt {
    background-position: 0 -64px;
  }

  &.flag_es {
    background-position: 0 -80px;
  }

  &.flag_fr {
    background-position: 0 -96px;
  }
}

.icon {
  display: inline-block;
  background: url(../images/icons.png);

  &.social {
    width: 32px;
    height: 32px;
    border-radius: 50%;

    &.vk {
      background-position: 0 0;
    }

    &.twitter {
      background-position: 0 -32px;
    }

    &.github {
      background-position: 0 -64px;
    }

    &.facebook {
      background-position: 0 -96px;
    }
  }
}
