SECRET_KEY_BASE: ''
TRANSLATOR_DATABASE_USERNAME: ''
TRANSLATOR_DATABASE_PASSWORD: ''
YANDEX_TRANSLATE_API_KEY: ''
SIDEKIQ_USERNAME: ''
SIDEKIQ_PASSWORD: ''
FACEBOOK_APP_ID: ''
FACEBOOK_APP_SECRET: ''
GITHUB_APP_ID: ''
GITHUB_APP_SECRET: ''