#task {
  h2 {
    font-size: 30px;
    margin-bottom: 15px;
    font-weight: 400;
  }

  .statistics {
    max-width: 450px;

    tbody {
      td {
        padding: 7px 10px;

        .button {
          margin-bottom: 3px;

          &:nth-last-of-type(1) {
            margin: 0;
          }
        }
      }
    }
  }
}
