nav {
  text-align: center;

  .top-bar {
    background: none;

    ul.menu {
      background: none;

      li {
        a {
          font-weight: 600;
          color: #000;
        }
      }
    }
  }
}
