@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500&subset=cyrillic');

* {
    font-family: 'Ubuntu';
    font-size: 16px;
}

html, body {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

.block {
    padding: 15px;
    box-shadow: 0 5px 10px 2px #dfdfdf;
    margin-bottom: 10px;
    #task_to {
        width: 100px;
    }
    .button, table {
        margin-bottom: 0;
    }
}

#edit_translation {
    .translation {
        margin-bottom: 5px;
        input {
            margin: 0;
        }
        .additional_translations {
            p {
                font-size: 12px;
                margin: 0;
            }
        }
    }
}

nav {
    float: left;
    width: 300px;
    height: 100%;
    border-right: 1px solid #EEE;
    .menu {
        li {
            border-bottom: 1px solid #EEE;
            a {
                padding: 15px 20px 16px;
                color: #000;
                &:hover {
                    color: #000;
                }
                &.active {
                    color: #FFF;
                    background: linear-gradient(to bottom, #1e5799 0%,#7db9e8 100%); 
                }
            }
        }
    }
}

.inside {
    margin-left: 300px;
    padding: 15px 10px 0;
}

table {
    thead {
        th {
            font-weight: 500;
        }
    }
}