@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
    font-family: 'Ubuntu';
}

.block {
    padding: 15px;
    box-shadow: 0 10px 10px 2px #dfdfdf;
    #task_to {
        width: 100px;
    }
    .button, table {
        margin-bottom: 0;
    }
}

nav {
    #menu {
        background: #FFF;
        ul {
            background: #FFF;
        }
    }
}

#edit_translation {
    .translation {
        margin-bottom: 5px;
        input {
            margin: 0;
        }
        .additional_translations {
            p {
                font-size: 12px;
                margin: 0;
            }
        }
    }
}