body {
  main {
    min-height: 350px;
  }
  .content {
    @media (max-width: 600px) {
      padding-top: 174px;
      padding-bottom: 341px;
    }
  }
}

#edit_translation {
  background: #363747;
  .translation {
    margin-bottom: 5px;
    &:nth-of-type(odd) {
      input, p {
        background: #464756;
      }
    }
    input {
      margin: 0;
      background: none;
      color: #FFF;
      border: none;
      border-radius: 4px;
      box-shadow: none;
      border: 1px solid transparent;
      &:focus {
        border: 1px solid #FFF;
      }
    }
    .additional_translations {
      p {
        font-size: 12px;
        margin: 0;
        padding: 0 0.5rem;
      }
    }
  }
}

table {
  text-align: left;
  border-spacing: 0;
  thead {
    background: none;
    th {
      font-weight: 300;
      color: #FFF;
      border-bottom: 2px solid #464756;
    }
  }
  tbody {
    background: none;
    tr {
      font-weight: 300;
      &:nth-child(even) {
        background: none;
      }
      a {
        color: #82859b;
        &:hover, &:focus {
          color: #82859b;
        }
      }
    }
  }
}

.translation_verifies {
  padding: 10px;
  margin-bottom: 5px;
  border-bottom: 1px solid #CCC;
  p {
    margin-bottom: 5px;
  }
}

.translation_text {
  display: inline;
  input {
    position: relative;
    top: 2px;
    cursor: pointer;
  }
  label {
    line-height: 1;
  }
}

#translations_box {
  .radio {
    label {
      color: #FFF;
    }
  }
  .alphabet {
    a {
      color: #FFF;
      margin-right: 5px;
      padding: 3px;
      line-height: 1;
      &.active {
        background: rgba(255, 255, 255, 0.5);
        border-radius: 3px;
      }
    }
  }
  .translation_verifies {
    .base_word {
      text-decoration: underline;
    }
    .translation_text {
      label {
        color: #FFF;
      }
    }
  }
}

#sign_in_form, #sign_up_form {
  width: 50%;
  margin: 0 auto;
  padding: 20px 0;
  img {
    width: 25px;
    border-radius: 4px;
    margin-right: 5px;
  }
  #error_explanation {
    h2 {
      font-size: 20px;
      color: #f30000;
    }
  }
}

.file_structure {
  background: rgba(54, 55, 71, 0.9);
  border: 1px solid #000;
  h2 {
    color: #50d691;
  }
  p {
    margin-bottom: 10px;
  }
  .italic {
    font-style: italic;
    font-weight: 400;
  }
  pre {
    padding: 5px 10px;
    display: inline-block;
    background: rgba(255, 255, 255, 0.75);
    color: #000;
    float: left;
    margin-right: 10px;
  }
}

.adsense_block {
  margin-top: 40px;
}
